<style>
    .outer-category-card {
        width: 90%;
        margin: 0 auto;
        justify-items: stretch;
    }
    .seperator-100 {
        width: 100%;
        height: 100px;
    }
</style>

<main>
    
    <app-header></app-header>
    <app-categories></app-categories>
    <app-ads-carousel></app-ads-carousel>
    <div class="seperator-100"></div>
    <div class="flex flex-row flex-wrap justify-content-evenly gap-6 py-8 outer-category-card">
        <app-category-card 
            title="Game Joysticks" 
            image="assets/images/joystick.png" 
            link="/shop/game-joysticks">
        </app-category-card>
        <app-category-card 
            title="Monitors & Keyboards" 
            image="assets/images/monitor.png" 
            link="/shop/monitors-keyboards">
        </app-category-card>
        <app-category-card 
            title="Sport Watches" 
            image="assets/images/watches.png" 
            link="/shop/sport-watches">
        </app-category-card>
    </div>
    <div class="seperator-100"></div>
    <app-featured-components></app-featured-components>
    <div class="seperator-100"></div>
    <app-footer></app-footer>
</main>