<div class="container">
  <!-- Email Request Stage -->
  <div class="form-container password-recovery-container" *ngIf="currentStage === 'request'">
    <form (ngSubmit)="sendCode()" #emailForm="ngForm">
      <h1>Récupération du mot de passe</h1>
      
      <label for="email">Adresse e-mail</label>
      <input 
        type="email" 
        id="email" 
        placeholder="Saisir votre adresse e-mail" 
        [(ngModel)]="email" 
        name="email"
        required 
      />
      
      <button type="submit">
        <span>Envoyer le code</span>
      </button>
    </form>
  </div>

  <!-- Password Reset Stage -->
  <div class="form-container reset-password-container" *ngIf="currentStage === 'reset'">
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <h1>Réinitialisation du mot de passe</h1>

      <label for="code">Code de vérification</label>
      <input 
        type="text" 
        id="code" 
        placeholder="Saisir votre code" 
        [(ngModel)]="verificationCode" 
        name="code"
        required 
      />

      <label for="password">Nouveau mot de passe</label>
      <input 
        type="password" 
        id="password" 
        placeholder="Nouveau mot de passe" 
        [(ngModel)]="newPassword" 
        name="password"
        required 
      />

      <label for="confirm-password">Confirmer le mot de passe</label>
      <input 
        type="password" 
        id="confirm-password" 
        placeholder="Confirmer le mot de passe" 
        [(ngModel)]="confirmPassword" 
        name="confirmPassword"
        required 
      />

      
      <button type="submit">
        <span>Confirmer</span>
      </button>
    </form>
  </div>
</div>