<style>
  .shop-container {
      background-color: #F8F8F8;
  }
  .shop-title-outer-container {
      width: 90vw;
  }
  a {
color: inherit;
text-decoration: none;
}

  .shop-title-container {
      height: 100px;
  }
  .test {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .shop-title-breadcumbs {
      font-size: 16px;
      text-decoration: none;
      font-weight: 600;
  }
</style>

<div class="shop-container py-20">
  <div class="shop-title-outer-container mx-auto">
    <div class="flex align-items-center justify-between shop-title-container">
      <div class="test">
        <nav class="text-sm text-green-500">
          <a href="" class=" shop-title-breadcumbs">Home</a>
          <span class="mx-2">/</span>
          <span class="text-gray-700 shop-title-breadcumbs">Shop</span>
        </nav>
        <h1 class="text-4xl font-bold text-gray-900 mt-2">Explorer tous les produits</h1>
      </div>
    </div>
  </div>
</div>