<app-header></app-header>

<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-container text-center">
    <h1 class="hero-title text-4xl font-bold text-gray-800">Lost Pets</h1>
    <p class="hero-subtitle text-lg text-gray-600 mt-4">
      Help reunite these lost pets with their families. If you've seen any of these animals, please contact their owners.
    </p>
    <a href="/plost" (click)="handleReportLostPet($event)"><button class="report-button">
      Report a Lost Pet

    </button></a>
  </div>
</section>

<!-- Filters and Pet Listings Section -->
<section class="lost-pets-section mt-12">
  <div class="filters-and-listings flex">
    <!-- Filters Sidebar -->
    <div class="filter-sidebar w-full md:w-1/4 lg:w-1/4 xl:w-1/5">
      <app-pet-filters></app-pet-filters>
    </div>

    <!-- Pet Cards Section -->
    <div class="pet-cards-section w-full md:w-3/4 lg:w-3/4 xl:w-4/5 ml-4 pl-4">
      <app-petcard></app-petcard>
    </div>
  </div>
</section>

<app-footer></app-footer>
