<style>
  .shop-inner-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
<div class="shop-inner-body">
  <app-filter
  (categoryChanged)="onCategoryChange($event)"
  (priceChanged)="onPriceChange($event)">
</app-filter>
<div class="container">
  <div *ngIf="products.length === 0">Aucun produit trouvé.</div>
    <div class="flex flex-wrap justify-center gap-25 ">
      <app-product-card 
        *ngFor="let product of products"
        [product]="product">
      </app-product-card>
    </div>
  </div>
</div>